/* Всякое */

h1, .h1 {
	box-sizing: border-box;
	color: #5e0000;
	font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
	font-size: 175%;
	font-weight: bold;
	margin-top: 0;
}

h2, .h2 {
	box-sizing: border-box;
	color: #002664;
	font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
	font-size: 150%;
	font-weight: bold;
	margin-bottom: 0.3em;
	margin-top: 2em;
}

h3, .h3 {
	box-sizing: border-box;
	color: #5e0000;
	font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
	font-size: 100%;
	font-weight: 700;
	margin-bottom: 0.3em;
	margin-top: 0.9em;
	text-transform: uppercase;
}

h4, .h4 {
	box-sizing: border-box;
	color: #a86753;
	font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
	font-size: 100%;
	font-weight: 700;
	margin-bottom: 0.3em;
	margin-top: 0;
}

h5, .h5 {
	box-sizing: border-box;
	color: #404040;
	font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
	font-size: 100%;
	font-weight: 700;
	margin-bottom: 0.3em;
	margin-top: 0;
	text-transform: uppercase;
}






.wy-nav-content {
	background-color: #efede9;
	max-width: 100%;
	padding: 1.5em 1.75em;
}

.rst-content ul.simple,
.rst-content ol.simple,
.rst-content .line-block {
	margin-bottom: 0.3em;
}

.rst-content .section > .line-block {
	border-left: 0.25em solid #cec1ac;
	padding-left: 0.4em;
}

.rst-content div.admonition {
	margin-bottom: 0.6em;
}

h1 + blockquote.epigraph,
h2 + blockquote.epigraph {
	margin-left: 0.2em;
	margin-bottom: 0.2em;
	color: #5e0000;
}

h1 + blockquote.epigraph + hr.docutils,
h2 + blockquote.epigraph + hr.docutils {
	border-top: 1px solid;
	margin: 0 0;
	margin-bottom: 1em;
}

div.section {
	margin-top: 0.9em;
}

div.section > p {
	margin-bottom: 0.2em;
}





/*
	Сайдбары
*/

.rst-content div.sidebar {
	background-color: #cec1ab;
	margin-bottom: 0.6em;
	margin-left: 0.6em;
	padding-bottom: 0.6em;
	padding-left: 0.6em;
	padding-right: 0.6em;
}

.rst-content div.sidebar > p {
	margin-bottom: 0.2em;
	text-indent: 1em;
}

.rst-content div.sidebar ul {
	font-size: initial;
}

.rst-content div.sidebar .sidebar-title {
	background-color: #afa492;
	text-transform: uppercase;
	margin-left: -0.6em;
	margin-right: -0.6em;
}

.rst-content div.sidebar p.sidebar-title {
	margin-bottom: 0.5em;
}

.rst-content div.sidebar p.rubric {
	margin-bottom: 0.1em;
	margin-top: 0.8em;
	text-indent: initial;
}

.rst-content div.sidebar-char-ancestry-class {
	background-color: #efede9;
	border: solid #5e0000;
	border-width: 0 0 0 1px;
	padding-top: 0em;
	padding-bottom: 0.6em;
	width: 30%;
}

.rst-content div.sidebar-char-ancestry-class p.sidebar-title {
	display: none;
}

.rst-content div.sidebar-char-ancestry-class > p {
	color: #5e0000;
	margin-bottom: 0;
	text-indent: initial;
	line-height: 1.4em;
}

.rst-content div.sidebar-char-ancestry-class p.rubric {
	color: #5e0000;
	margin-bottom: 0.3em;
	margin-top: 0.8em;
	text-indent: initial;
	text-transform: uppercase;
}

.rst-content div.sidebar-wide {
	float: initial;
	width: 85%;
}





/*
	Таблицы
*/

.rst-content table.docutils caption {
	font: inherit;
	text-align: left;
	text-transform: uppercase;
}

.rst-content table.docutils thead {
	background-color: #5e0000;
	color: #fff;
	text-align: inherit;
}

.rst-content table.docutils th {
	padding: 0.5em;
}

.rst-content table.docutils th p {
	margin-bottom: 0em;
}

.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
	background-color: #ece2c7;
}

.rst-content table.docutils tbody tr.row-even {
	background-color: #f4eedf;
}

.rst-content table.docutils td {
	padding: 0.3em 0.5em;
}

.rst-content table.docutils td p {
	margin-bottom: 0.1em;
}

.rst-content table.docutils td:nth-child(1) p:not(:first-child) {
	text-indent: 1em;
}

.rst-content table.docutils td div.line-block {
	line-height: 1.4em;
	margin-bottom: 0;
}




/*
	Изображения
*/

.rst-content div.figure > p.caption,
.rst-content div.figure > div.legend {
	background-color: #ede3c8;
}

.rst-content div.figure > p.caption {
	color: #5e0000;
	font-style: normal;
	font-weight: bolder;
	margin-bottom: 0;
	padding: 1em 0 0.3em 3em;
	/*text-indent: 1em;*/
	text-transform: uppercase;
}

.rst-content div.figure > div.legend {
	padding: 0 1.5em 0.5em 0.3em;
}

.rst-content div.figure > div.legend p {
	margin: 0;
}



/*
	Вступление: родословные, классы
*/


.container-intro-anc-class {
}

.container-intro-anc-class .intro-anc {
	width: 145px;
	height: 660px;
	display: inline-block;
	vertical-align: top;
	padding: 6px;
}

.container-intro-anc-class .intro-anc img {
	margin-bottom: 1em;
}

.container-intro-anc-class .intro-anc > p {
	font-size: 0.85em;
	font-weight: 100;
	line-height: 1.2em;
	margin-bottom: 1em;
}

.ability-boost {
	display: block;
	color: green;
	font-weight: bolder;
}

.ability-flaw {
	display: block;
	color: red;
	font-weight: bolder;
}



.container-intro-anc-class .intro-class {
	width: 212px;
	height: 560px;
	display: inline-block;
	vertical-align: top;
	padding: 6px;
}

.container-intro-anc-class .intro-class img {
	margin-bottom: 1em;
}

.container-intro-anc-class .intro-class > p {
	font-size: 0.85em;
	font-weight: 100;
	line-height: 1.2em;
	margin-bottom: 1em;
}

.ability-key {
	display: block;
	color: green;
	font-weight: bolder;
}

.ability-sec {
	display: block;
	color: navy;
	font-weight: bolder;
}



/*
	admonitions
*/

div.admonition {
	margin-top: 1em;
	margin-bottom: 1em;
	width: 66%;
}

div.admonition p {
	margin-bottom: 0.2em;
	line-height: 1.4em;
}

div.admonition.tip {
	background-color: #d1d3d4;
}

div.admonition.tip p.admonition-title {
	background-color: #002664;
}


div.admonition.intro-anc p.admonition-title {
	font-weight: bolder;
	font-size: initial;
	background-color: #5e0000;
}

div.admonition.intro-class p.admonition-title {
	font-weight: bolder;
	font-size: initial;
	background-color: #002664;
}


/*
	versionchanged, versionadded
*/

div.versionchanged {
	color: darkred;
}

div.versionadded {
	color: navy;
}

div.versionchanged p,
div.versionadded p {
	margin-bottom: 0em;
}

div.versionchanged span.versionmodified,
div.versionadded span.versionmodified {
	font-weight: bolder;
}


/*
	Описание
	Если надо по жесткому назначить какому-то разделу стиль описания
*/

div.description.section {
	margin-top: 1.2em;
}

div.description.section > p {
	margin-bottom: 0.1em;
	text-indent: inherit;
}

div.description.section > h2,
div.description.section > h3,
div.description.section > h4,
div.description.section > h5,
div.description.section > h6 {
	box-sizing: border-box;
	color: #404040;
	font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
	font-size: 100%;
	font-weight: 700;
	margin-bottom: 0.3em;
	margin-top: 0;
	text-transform: uppercase;
}

div.description.section > h2 + ul,
div.description.section > h3 + ul,
div.description.section > h4 + ul,
div.description.section > h5 + ul,
div.description.section > h6 + ul {
	background-color: #d9c484;
	display: inline-block;
	margin-bottom: 0.2em;
	padding: 0.15em 0.2em;
}

div.description.section > h2 + ul li,
div.description.section > h3 + ul li,
div.description.section > h4 + ul li,
div.description.section > h5 + ul li,
div.description.section > h6 + ul li {
	display: inline;
	margin: 0 0.025em;
	margin-left: 0;
}

div.description.section > h1 + ul li p,
div.description.section > h2 + ul li p,
div.description.section > h3 + ul li p,
div.description.section > h4 + ul li p,
div.description.section > h5 + ul li p,
div.description.section > h6 + ul li p {
	background-color: #5e0000;
	color: #fff;
	display: inline;
	font-weight: bolder;
	padding: 0.3em;
}

div.description hr {
	border-top: 1px solid #404040;
	margin: 1px 0;
}





/*
	Классы, родословные, предыстории
*/

/* as h1*/
div.ancestry h2,
div.versatile-heritages h2,
/*div.backgrounds h2,*/
div.languages h2,
div.char-class h2,
div.animal-companions h2,
div.class-archetypes h2,
div.equip-subchap h2,
div.gear-description h2,
div.religion h2,
/*div.spells-focus h2,*/
/*div.spells-rituals h2,*/
div.gm-subchap h2,
div.conditions h2,
div.glossary h2,
div.game-mode h2 {
	box-sizing: border-box;
	color: #5e0000;
	font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
	font-size: 200%;
	font-weight: bold;
	margin-top: 6em;
	text-transform: initial;
}

/* as h2*/
div.char-creation-step h3,
div.ancestry h2,
div.versatile-heritages h3,
/*div.backgrounds h3,*/
div.languages h3,
div.char-class h2,
div.animal-companions h2,
/*div.class-archetypes h3,*/
div.archetype.multiclass h1,
div.archetype h1,
div.hellknight-order-abilities h1,
div.equip-subchap h3,
div.religion h3,
div.spells-focus h2,
/*div.spells-rituals h3,*/
div.craft-treasure-alchemicalitems h1,
div.craft-treasure-consumables h1,
div.craft-treasure-snares h1,
div.craft-treasure-held h1,
div.craft-treasure-worn h1,
div.craft-treasure-runes h1,
div.craft-treasure-shields h1,
div.craft-treasure-weapons h1,
div.craft-treasure-staves h1,
div.craft-treasure-wands h1,
div.craft-treasure-armor h1,
div.craft-treasure-structures h1,
div.craft-treasure-materials h1,
div.gm-subchap h3,
div.hazards h2,
div.conditions h3,
div.glossary h3,
div.game-mode h3 {
	box-sizing: border-box;
	color: #002664;
	font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
	font-size: 150%;
	font-weight: bold;
	margin-bottom: 0.3em;
	margin-top: 2em;
	text-transform: initial;
}

/* as h3*/
div.char-creation-step h4,
/*div.ancestry h4,*/
div.versatile-heritages h4,
div.char-class h3,
div.animal-companions h3,
div.class-archetypes h2,
div.archetype.multiclass h2,
div.archetype h4,
div.hellknight-order-abilities h2,
div.equip-subchap h4,
div.gear-description h3,
div.religion h4,
/*div.spells-rituals h4,*/
div.craft-treasure-alchemicalitems h2,
div.craft-treasure-consumables h2,
div.craft-treasure-snares h2,
div.craft-treasure-worn h2,
div.craft-treasure-runes h2,
div.craft-treasure-shields h2,
div.craft-treasure-weapons h2,
div.craft-treasure-staves h2,
div.craft-treasure-wands h2,
div.craft-treasure-armor h2,
div.craft-treasure-materials h2,
div.gm-subchap h4,
div.hazards h3,
div.conditions h4,
div.glossary h4,
div.game-mode h4 {
	box-sizing: border-box;
	color: #5e0000;
	font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
	font-size: 100%;
	font-weight: 700;
	margin-bottom: 0.3em;
	margin-top: 0;
	text-transform: uppercase;
}

/* as h4*/
div.char-creation-step h5,
div.ancestry h5,
div.versatile-heritages h5,
div.char-class h4,
div.animal-companions h4,
div.class-archetypes h3,
div.equip-subchap h5,
div.religion h5,
div.spells-rituals h5,
div.craft-treasure-alchemicalitems h3,
div.craft-treasure-consumables h3,
div.craft-treasure-snares h3,
div.craft-treasure-worn h3,
div.craft-treasure-worn div.section div.craft-treasure-worn-companion-invest h3,
div.craft-treasure-runes h3,
div.craft-treasure-staves h3,
div.craft-treasure-wands h3,
div.craft-treasure-materials h3,
div.gm-subchap h5,
div.game-mode h5 {
	box-sizing: border-box;
	color: #a86753;
	font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
	font-size: 100%;
	font-weight: 700;
	margin-bottom: 0.3em;
	margin-top: 0;
	text-transform: initial;
}

div.backgrounds h3 { /* в этом разделе нет вложенностей, h3 это уже описание предысторий */
	box-sizing: border-box;
	color: #404040;
	font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
	font-size: 100%;
	font-weight: 700;
	margin-bottom: 0.3em;
	margin-top: 0;
	text-transform: uppercase;
}





/*
	Описания действий, навыков, способностей, заклинаний, опасностей, предметов
*/

div.ancestry-class-feats div.section,
div.spells-descr div.section,
div.spell.section,
div.gen-skill-actions div.section,
div.skill-descr div.section,
div.feats-descr div.section,
div.animal.section,
div.expl-activities div.section,
div.spells-focus div.section,
div.rituals-list div.section,
div.gm-hazards div.section,
div.craft-treasure-bombs div.section,
div.craft-treasure-elixirs div.section,
div.craft-treasure-poisons div.section,
div.craft-treasure-alchtools div.section,
div.craft-treasure-armor div.section,
div.craft-treasure-ammunition div.section,
div.craft-treasure-oils div.section,
div.craft-treasure-potions div.section,
div.craft-treasure-scrolls div.section,
div.craft-treasure-talismans div.section,
div.craft-treasure-other div.section,
div.craft-treasure-held div.section,
div.craft-treasure-materials div.section,
div.craft-treasure-runes div.section,
div.craft-treasure-shields div.section,
div.craft-treasure-snares div.section,
div.craft-treasure-staves-list div.section,
div.craft-treasure-structures div.section,
div.craft-treasure-wands div.section,
div.craft-treasure-weapons div.section,
div.craft-treasure-worn div.section,
div.actions-descr div.section {
	margin-top: 1.2em;
}

div.ancestry-class-feats div.section > p,
div.spells-descr div.section > p,
div.spell.section > p,
div.gen-skill-actions div.section > p,
div.skill-descr div.section > p,
div.feats-descr div.section > p,
div.animal.section > p,
div.expl-activities div.section > p,
div.spells-focus div.section > p,
div.rituals-list div.section > p,
div.gm-hazards div.section > p,
div.craft-treasure-bombs div.section > p,
div.craft-treasure-elixirs div.section, > p,
div.craft-treasure-poisons div.section, > p,
div.craft-treasure-alchtools div.section, > p,
div.craft-treasure-armor div.section > p,
div.craft-treasure-ammunition div.section > p,
div.craft-treasure-oils div.section > p,
div.craft-treasure-potions div.section > p,
div.craft-treasure-scrolls div.section > p,
div.craft-treasure-talismans div.section > p,
div.craft-treasure-other div.section > p,
div.craft-treasure-held div.section > p,
div.craft-treasure-materials div.section > p,
div.craft-treasure-runes div.section > p,
div.craft-treasure-shields div.section > p,
div.craft-treasure-snares div.section > p,
div.craft-treasure-staves-list div.section > p,
div.craft-treasure-structures div.section > p,
div.craft-treasure-wands div.section > p,
div.craft-treasure-weapons div.section > p,
div.craft-treasure-worn div.section > p,
div.actions-descr div.section div.section > p {
	margin-bottom: 0.1em;
	text-indent: inherit;
}

div.ancestry-class-feats div.section > h4,
div.spells-descr div.section > h4,
div.spell.section > h1,
div.gen-skill-actions div.section > h4,
div.skill-descr div.section > h4,
div.feats-descr div.section > h3,
div.animal.section > h4,
div.archetype.multiclass div.section > h3,
div.archetype div.section > h2,
div.hellknight-order-abilities div.section > h3,
div.expl-activities div.section > h4,
div.spells-focus div.section > h3,
div.rituals-list div.section > h3,
div.gm-hazards div.section > h3,
div.craft-treasure-bombs div.section > h4,
div.craft-treasure-elixirs div.section > h4,
div.craft-treasure-poisons div.section > h4,
div.craft-treasure-alchtools div.section > h3,
div.craft-treasure-armor div.section > h3,
div.craft-treasure-ammunition div.section > h4,
div.craft-treasure-oils div.section > h3,
div.craft-treasure-potions div.section > h3,
div.craft-treasure-scrolls div.section > h4,
div.craft-treasure-talismans div.section > h4,
div.craft-treasure-other div.section > h3,
div.craft-treasure-held div.section > h2,
div.craft-treasure-materials div.section > h4,
div.craft-treasure-runes div.section > h4,
div.craft-treasure-shields div.section > h3,
div.craft-treasure-snares div.section > h3,
div.craft-treasure-staves-list div.section > h4,
div.craft-treasure-structures div.section > h2,
div.craft-treasure-wands div.section > h4,
div.craft-treasure-weapons div.section > h3,
div.craft-treasure-worn div.section > h3,
div.actions-descr div.section div.section > h5 {
	box-sizing: border-box;
	color: #404040;
	font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
	font-size: 100%;
	font-weight: 700;
	margin-bottom: 0.3em;
	margin-top: 0.9em;
	text-transform: uppercase;
}

div.item-type-rarity.section ul:has(p.uncommon),
div.item-type-rarity.section ul:has(p.rare),
div.ancestry-class-feats div.section > h4 + ul,
div.spells-descr div.section > h4 + ul,
div.spell.section > h1 + ul,
div.gen-skill-actions div.section > h4 + ul,
div.skill-descr div.section > h4 + ul,
div.feats-descr div.section > h3 + ul,
div.animal.section > h4 + ul,
div.archetype.multiclass div.section > h3 + ul ,
div.archetype div.section > h2 + ul ,
div.hellknight-order-abilities div.section > h3 + ul ,
div.expl-activities div.section > h4 + ul,
div.spells-focus div.section > h3 + ul,
div.rituals-list div.section > h3 + ul,
div.gm-hazards div.section > h3 + ul,
div.craft-treasure-bombs div.section > h4 + ul,
div.craft-treasure-elixirs div.section > h4 + ul,
div.craft-treasure-poisons div.section > h4 + ul,
div.craft-treasure-alchtools div.section > h3 + ul,
div.craft-treasure-armor div.section > h3 + ul,
div.craft-treasure-ammunition div.section > h4 + ul,
div.craft-treasure-oils div.section > h3 + ul,
div.craft-treasure-potions div.section > h3 + ul,
div.craft-treasure-scrolls div.section > h4 + ul,
div.craft-treasure-talismans div.section > h4 + ul,
div.craft-treasure-other div.section > h3 + ul,
div.craft-treasure-held div.section > h2 + ul,
div.craft-treasure-materials div.section > h4 + ul,
div.craft-treasure-runes div.section > h4 + ul,
div.craft-treasure-shields div.section > h3 + ul,
div.craft-treasure-snares div.section > h3 + ul,
div.craft-treasure-staves-list div.section > h4 + ul,
div.craft-treasure-structures div.section > h2 + ul,
div.craft-treasure-wands div.section > h4 + ul,
div.craft-treasure-weapons div.section > h3 + ul,
div.craft-treasure-worn div.section > h3 + ul,
div.actions-descr div.section div.section > h5 + ul {
	background-color: #d9c484;
	display: inline-block;
	margin-bottom: 0.2em;
	padding: 0.15em 0.2em;
}

div.item-type-rarity.section ul li:has(p.uncommon),
div.item-type-rarity.section ul li:has(p.rare),
div.ancestry-class-feats div.section > h4 + ul li,
div.spells-descr div.section > h4 + ul li,
div.spell.section > h1 + ul li,
div.gen-skill-actions div.section > h4 + ul li,
div.skill-descr div.section > h4 + ul li,
div.feats-descr div.section > h3 + ul li,
div.animal.section > h4 + ul li,
div.archetype.multiclass div.section > h3 + ul li,
div.archetype div.section > h2 + ul li,
div.hellknight-order-abilities div.section > h3 + ul li,
div.expl-activities div.section > h4 + ul li,
div.spells-focus div.section > h3 + ul li,
div.rituals-list div.section > h3 + ul li,
div.gm-hazards div.section > h3 + ul li,
div.craft-treasure-bombs div.section > h4 + ul li,
div.craft-treasure-elixirs div.section > h4 + ul li,
div.craft-treasure-poisons div.section > h4 + ul li,
div.craft-treasure-alchtools div.section > h3 + ul li,
div.craft-treasure-armor div.section > h3 + ul li,
div.craft-treasure-ammunition div.section > h4 + ul li,
div.craft-treasure-oils div.section > h3 + ul li,
div.craft-treasure-potions div.section > h3 + ul li,
div.craft-treasure-scrolls div.section > h4 + ul li,
div.craft-treasure-talismans div.section > h4 + ul li,
div.craft-treasure-other div.section > h3 + ul li,
div.craft-treasure-held div.section > h2 + ul li,
div.craft-treasure-materials div.section > h4 + ul li,
div.craft-treasure-runes div.section > h4 + ul li,
div.craft-treasure-shields div.section > h3 + ul li,
div.craft-treasure-snares div.section > h3 + ul li,
div.craft-treasure-staves-list div.section > h4 + ul li,
div.craft-treasure-structures div.section > h2 + ul li,
div.craft-treasure-wands div.section > h4 + ul li,
div.craft-treasure-weapons div.section > h3 + ul li,
div.craft-treasure-worn div.section > h3 + ul li,
div.actions-descr div.section div.section > h5 + ul li {
	display: inline;
	margin: 0 0.025em;
}

div.item-type-rarity.section ul li p.uncommon,
div.item-type-rarity.section ul li p.rare,
div.ancestry-class-feats div.section > h4 + ul li p,
div.spells-descr div.section > h4 + ul li p,
div.spell.section > h1 + ul li p,
div.gen-skill-actions div.section > h4 + ul li p,
div.skill-descr div.section > h4 + ul li p,
div.feats-descr div.section > h3 + ul li p,
div.animal.section > h4 + ul li p,
div.archetype.multiclass div.section > h3 + ul li p,
div.archetype div.section > h2 + ul li p,
div.hellknight-order-abilities div.section > h3 + ul li p,
div.expl-activities div.section > h4 + ul li p,
div.spells-focus div.section > h3 + ul li p,
div.rituals-list div.section > h3 + ul li p,
div.gm-hazards div.section > h3 + ul li p,
div.craft-treasure-bombs div.section > h4 + ul li p,
div.craft-treasure-elixirs div.section > h4 + ul li p,
div.craft-treasure-poisons div.section > h4 + ul li p,
div.craft-treasure-alchtools div.section > h3 + ul li p,
div.craft-treasure-armor div.section > h3 + ul li p,
div.craft-treasure-ammunition div.section > h4 + ul li p,
div.craft-treasure-oils div.section > h3 + ul li p,
div.craft-treasure-potions div.section > h3 + ul li p,
div.craft-treasure-scrolls div.section > h4 + ul li p,
div.craft-treasure-talismans div.section > h4 + ul li p,
div.craft-treasure-other div.section > h3 + ul li p,
div.craft-treasure-held div.section > h2 + ul li p,
div.craft-treasure-materials div.section > h4 + ul li p,
div.craft-treasure-runes div.section > h4 + ul li p,
div.craft-treasure-shields div.section > h3 + ul li p,
div.craft-treasure-snares div.section > h3 + ul li p,
div.craft-treasure-staves-list div.section > h4 + ul li p,
div.craft-treasure-structures div.section > h2 + ul li p,
div.craft-treasure-wands div.section > h4 + ul li p,
div.craft-treasure-weapons div.section > h3 + ul li p,
div.craft-treasure-worn div.section > h3 + ul li p,
div.actions-descr div.section div.section > h5 + ul li p {
	background-color: #5e0000;
	color: #fff;
	display: inline;
	font-weight: bolder;
	padding: 0.3em;
}

div.ancestry-class-feats div.section hr,
div.spells-descr div.section hr,
div.spell.section hr,
div.gen-skill-actions div.section hr,
div.skill-descr div.section hr,
div.feats-descr div.section hr,
div.animal.section hr,
div.archetype.multiclass div.section hr,
div.archetype div.section hr,
div.hellknight-order-abilities div.section hr,
div.expl-activities div.section hr,
div.spells-focus div.section hr,
div.rituals-list div.section hr,
div.gm-hazards div.section hr,
div.craft-treasure-bombs div.section hr,
div.craft-treasure-elixirs div.section hr,
div.craft-treasure-poisons div.section hr,
div.craft-treasure-alchtools div.section hr,
div.craft-treasure-armor div.section hr,
div.craft-treasure-ammunition div.section hr,
div.craft-treasure-oils div.section hr,
div.craft-treasure-potions div.section hr,
div.craft-treasure-scrolls div.section hr,
div.craft-treasure-talismans div.section hr,
div.craft-treasure-other div.section hr,
div.craft-treasure-held div.section hr,
div.craft-treasure-materials div.section hr,
div.craft-treasure-runes div.section hr,
div.craft-treasure-shields div.section hr,
div.craft-treasure-snares div.section hr,
div.craft-treasure-staves-list div.section hr,
div.craft-treasure-structures div.section hr,
div.craft-treasure-wands div.section hr,
div.craft-treasure-weapons div.section hr,
div.craft-treasure-worn div.section hr,
div.actions-descr div.section hr {
	border-top: 1px solid #404040;
	margin: 1px 0;
}

div.animal.section h4 {
	box-sizing: border-box;
	color: #404040;
	font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
	font-size: 100%;
	font-weight: 700;
	margin-bottom: 0.3em;
	margin-top: 0;
	text-transform: uppercase;
}

div.gen-skill-actions div.section > h5 { /* некоторые подробности по действиям скиллов */
	box-sizing: border-box;
	color: #a86753;
	font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
	font-size: 100%;
	font-weight: 700;
	margin-bottom: 0.3em;
	margin-top: 0;
	text-transform: inherit;
}

div.ancestry-class-feats h3,
/*div.spells-focus h3,*/
div.feats-descr h2,
div.spells-descr h3 { /* Выделение алфавитного заголовка */
	background-color: #002664;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: #ede3c8;
	font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
	font-size: 100%;
	font-weight: bolder;
	margin-bottom: 0.3em;
	margin-top: 0;
	padding: 10px;
	text-transform: uppercase;
    box-sizing: border-box;
}


/*
	Универсальные стили списка признаков
*/

div.section > h1 + ul,
div.section > h2 + ul,
div.section > h3 + ul,
div.section > h4 + ul,
div.section > h5 + ul,
div.section > h6 + ul {
	background-color: #d9c484;
	display: inline-block;
	margin-bottom: 0.2em;
	padding: 0.15em 0.2em;
}

div.section > h1 + ul li,
div.section > h2 + ul li,
div.section > h3 + ul li,
div.section > h4 + ul li,
div.section > h5 + ul li,
div.section > h6 + ul li {
	display: inline;
	margin: 0 0.025em !important;
}

div.section > h1 + ul li p,
div.section > h2 + ul li p,
div.section > h3 + ul li p,
div.section > h4 + ul li p,
div.section > h5 + ul li p,
div.section > h6 + ul li p {
	background-color: #5e0000;
	color: #fff;
	display: inline;
	font-weight: bolder;
	padding: 0.3em;
}


span.eop-comment {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	color: #5e0000;
	font-style: italic;
}


/*
	С помощью JS мы ищем p у которых внутри есть span.uncommon (или span.rare)
	и добавляем родителю (p) класс 'uncommon' или 'rare'
*/

div.section > h1 + ul li p.uncommon,
div.section > h2 + ul li p.uncommon,
div.section > h3 + ul li p.uncommon,
div.section > h4 + ul li p.uncommon,
div.section > h5 + ul li p.uncommon,
div.section > h6 + ul li p.uncommon,
div.item-type-rarity.section ul li p.uncommon,
div.ancestry-class-feats div.section > h4 + ul li p.uncommon,
div.archetype.multiclass div.section > h3 + ul li p.uncommon,
div.archetype div.section > h2 + ul li p.uncommon,
div.feats-descr div.section > h3 + ul li p.uncommon,
div.spells-descr div.section > h4 + ul li p.uncommon,
div.spell.section > h1 + ul li p.uncommon,
div.spells-focus div.section > h3 + ul li p.uncommon,
div.rituals-list div.section > h3 + ul li p.uncommon,
div.gm-hazards div.section > h3 + ul li p.uncommon,
div.craft-treasure-bombs div.section > h4 + ul li p.uncommon,
div.craft-treasure-elixirs div.section > h4 + ul li p.uncommon,
div.craft-treasure-poisons div.section > h4 + ul li p.uncommon,
div.craft-treasure-alchtools div.section > h3 + ul li p.uncommon,
div.craft-treasure-armor div.section > h3 + ul li p.uncommon,
div.craft-treasure-ammunition div.section > h4 + ul li p.uncommon,
div.craft-treasure-oils div.section > h3 + ul li p.uncommon,
div.craft-treasure-potions div.section > h3 + ul li p.uncommon,
div.craft-treasure-scrolls div.section > h4 + ul li p.uncommon,
div.craft-treasure-talismans div.section > h4 + ul li p.uncommon,
div.craft-treasure-other div.section > h3 + ul li p.uncommon,
div.craft-treasure-held div.section > h2 + ul li p.uncommon,
div.craft-treasure-materials div.section > h4 + ul li p.uncommon,
div.craft-treasure-runes div.section > h4 + ul li p.uncommon,
div.craft-treasure-shields div.section > h3 + ul li p.uncommon,
div.craft-treasure-snares div.section > h3 + ul li p.uncommon,
div.craft-treasure-staves-list div.section > h4 + ul li p.uncommon,
div.craft-treasure-structures div.section > h2 + ul li p.uncommon,
div.craft-treasure-wands div.section > h4 + ul li p.uncommon,
div.craft-treasure-weapons div.section > h3 + ul li p.uncommon,
div.craft-treasure-worn div.section > h3 + ul li p.uncommon {
	background-color: #98513d;
}

div.section > h1 + ul li p.rare,
div.section > h2 + ul li p.rare,
div.section > h3 + ul li p.rare,
div.section > h4 + ul li p.rare,
div.section > h5 + ul li p.rare,
div.section > h6 + ul li p.rare,
div.item-type-rarity.section ul li p.rare,
div.ancestry-class-feats div.section > h4 + ul li p.rare,
div.archetype.multiclass div.section > h3 + ul li p.rare,
div.archetype div.section > h2 + ul li p.rare,
div.feats-descr div.section > h3 + ul li p.rare,
div.spells-descr div.section > h4 + ul li p.rare,
div.spell.section > h1 + ul li p.rare,
div.spells-focus div.section > h3 + ul li p.rare,
div.rituals-list div.section > h3 + ul li p.rare,
div.gm-hazards div.section > h3 + ul li p.rare,
div.craft-treasure-bombs div.section > h4 + ul li p.rare,
div.craft-treasure-elixirs div.section > h4 + ul li p.rare,
div.craft-treasure-poisons div.section > h4 + ul li p.rare,
div.craft-treasure-alchtools div.section > h3 + ul li p.rare,
div.craft-treasure-armor div.section > h3 + ul li p.rare,
div.craft-treasure-ammunition div.section > h4 + ul li p.rare,
div.craft-treasure-oils div.section > h3 + ul li p.rare,
div.craft-treasure-potions div.section > h3 + ul li p.rare,
div.craft-treasure-scrolls div.section > h4 + ul li p.rare,
div.craft-treasure-talismans div.section > h4 + ul li p.rare,
div.craft-treasure-other div.section > h3 + ul li p.rare,
div.craft-treasure-held div.section > h2 + ul li p.rare,
div.craft-treasure-materials div.section > h4 + ul li p.rare,
div.craft-treasure-runes div.section > h4 + ul li p.rare,
div.craft-treasure-shields div.section > h3 + ul li p.rare,
div.craft-treasure-snares div.section > h3 + ul li p.rare,
div.craft-treasure-staves-list div.section > h4 + ul li p.rare,
div.craft-treasure-structures div.section > h2 + ul li p.rare,
div.craft-treasure-wands div.section > h4 + ul li p.rare,
div.craft-treasure-weapons div.section > h3 + ul li p.rare,
div.craft-treasure-worn div.section > h3 + ul li p.rare {
	background-color: #002664;
}

div.section > h1 + ul li p.alignment,
div.section > h2 + ul li p.alignment,
div.section > h3 + ul li p.alignment,
div.section > h4 + ul li p.alignment,
div.section > h5 + ul li p.alignment,
div.section > h6 + ul li p.alignment {
	background-color: #576293;
}